form {
  margin-bottom: 15px;
}
select {
  margin-left: 10px;
  padding: 5px;
}
table {
  margin-top: 15px;
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 6px 12px;
  text-align: left;
}
